
:root {
  font-family: 'Press Start 2P', system-ui;
  background-color: #212529; /* Matches NES.css dark theme */
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

img {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: pixelated;                 /* Standard */
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
}